.example-form {
    min-width: 50px;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
  }


  
  h1{
    text-align: center;
  }
  .example-full-width {
    width: 100%;
  }

  table {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  div {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;  }
